body{
    background: lightsalmon;
    text-align: center;
}
.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: stretch;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}
.caja{
    border: 2px solid black;
    text-align: center;
    line-height: 224px;
    l
}
.S1{
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}
.S2{
    font-size: 20px;
    text-align: left;
}
.C1{
    grid-column: 1/5;
}
